.table-curved {
  border: solid #ccc 1px;
  border-radius: 10px;
  padding: 10px;
  border-bottom: 6px;
  border: 2px solid lightgray;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.table-curved td,
.table-curved th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.table-curved th {
  border-top: none;
}

.table-curved th:first-child {
  border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
  border-radius: 0 6px 0 0;
}
.table-curved th:only-child {
  border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}

h3 {
  border-left: 3px;
  padding-left: 5px;
}

a {
  color: steelblue;
}

a:visited {
  color: darkblue;
}
